/**
 * Stylite: jdots template
 *
 * @link http://www.stylite.de
 * @package jdots
 * @author Andreas Stöckel <as@stylite.de>
 * @author Ralf Becker <rb@stylite.de>
 * @author Nathan Gray <ng@stylite.de>
 * @version $Id: class.jdots_framework.inc.php 958 2010-06-02 09:32:26Z ralfbecker $
 */

body {
	margin: 0px;
	padding: 0px;
	min-width: 800px;
	min-height: 600px;
}

#egw_fw_basecontainer {
	/*position: fixed;*/
	width: 100%;
	height: 100%;
	min-width: 800px;
	min-height: 600px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
}

#egw_fw_sidebar {
	float: left;
	padding: 10px;
	width: 200px;
	height: 100%;
}

#egw_fw_logo {
	display: block;
	height: 50px;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
}

#egw_fw_sidemenu {
	display: block;
}

#egw_fw_topbar {
	display: block;	
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

#egw_fw_topbar ul, #egw_fw_topbar li {
	display: inline;
/*	padding: 0px;*/
/*	margin: 0px;*/
}

#egw_fw_topbar li {
	background-image: url(images/orange-ball.png);
	background-repeat: no-repeat;
	background-position: left center;	
	padding-left: 12px;
	padding-right: 10px;
}

#egw_fw_topbar a {
	text-decoration: none;
	color: black;
}

#egw_fw_main {
/*	background-color: RGB(255, 255, 255);	*/
}

#egw_fw_tabs {
	margin: 5px 5px 5px 220px;	
/*	background-color: RGB(128, 128, 128);		*/
}

.egw_fw_ui_sidemenu_entry_header {
	display: block;
	width: 180px;
	height: 20px;
	padding: 2px 5px 2px 5px;
	margin: 0px 5px 0px 5px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #c6ced6;
	cursor: pointer;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	background-image:url(images/tabs_bg.png);
}

.egw_fw_ui_sidemenu_entry_header_active {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius:5px;
	border-width: 1px 1px 0px 1px !important;
	background-image:url(images/tabs_bg_hover.png);
	/*background-color:white;*/
}

.egw_fw_ui_sidemenu_entry_header:hover {
	background-color: RGB(230, 230, 255);
	background-image:url(images/tabs_bg_hover.png);
}

.egw_fw_ui_sidemenu_entry_content {
	width: 180px;
	padding: 2px 5px 2px 5px;
	margin: 0px 5px 0px 5px;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #c6ced6;
	background-color: white;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius:5px;
}

.egw_fw_ui_sidemenu_entry_content_bottom {
	border-width: 0px 1px 1px 1px;
}

.egw_fw_ui_sidemenu_entry_header_bottom {
	border-width: 1px;
}


.egw_fw_ui_sidemenu_entry_icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding-left: 0;
	padding-right: 10px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	background-size: auto 20px;
	-moz-background-size: auto 20px;
	-webkit-background-size: auto 20px;
}

.egw_fw_ui_ajaxloader {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image:url(images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	float: right;
}

.egw_fw_ui_sidemenu_entry_header h1 {
	display: inline;
	font-size: 10pt;
}

.egw_fw_ui_tab_header {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	
	background-color: RGB(230, 230, 230);
	display: inline-block;
	margin: 0px 5px 0px 0px;
	padding: 2px 10px 2px 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: #c6ced6;
	
	background-image:url(images/tabs_bg.png);
	background-repeat:repeat-x;	
}

.egw_fw_ui_tab_header_hover{
	background-image:url(images/tabs_bg_hover.png);
}

.egw_fw_ui_tab_header h1{
	display: inline;
	font-size: 10pt;
}

.egw_fw_ui_tab_header_active {
	border-width: 1px 1px 0px 1px;
	padding: 2px 10px 3px 10px;
	background-color: white;
	background-image:none;
}

.egw_fw_ui_tab_content {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #d5dde6;
	display: block;
	padding: 0px;
	background-color:white;
}

.egw_fw_ui_tab_icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	background-size: auto 16px;
	-moz-background-size: auto 16px;
	-webkit-background-size: auto 16px;
}

.egw_fw_ui_tab_close_button {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/close_button.png);
	float: right;
}

.egw_fw_ui_tab_close_button:hover {
	background-image: url(images/close_button_hover.png);
}

.egw_fw_ui_tabs_header {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	padding: 5px 5px 0px 5px;
	background-image:url(images/header_tabs_bg.png);
	background-repeat:repeat-x;
}

.egw_fw_ui_category {
	margin: 0px;
	padding: 0px;
	color: RGB(0, 0, 0);
	cursor: pointer;
}

.egw_fw_ui_category:hover {
	color: RGB(64, 64, 64);
}

.egw_fw_ui_category h1 {
	margin: 5px 0px 5px 0px;
	padding: 0px;
	font-size: 9pt;
}

.egw_fw_ui_category_arrow {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0px 5px 0px 5px;
	background-image:url(images/arrow_left.png);
	background-repeat:no-repeat;
	float: left;
}

.egw_fw_ui_category_active .egw_fw_ui_category_arrow {
	background-image:url(images/arrow_down.png);
	background-repeat:no-repeat;		
}

.egw_fw_ui_category_content {
	margin-left: 18px;
	padding-top: 4px;
	padding-bottom: 4px;
}
